public-f net.minecraft.client.OptionInstance$ValueSet
public net.minecraft.client.gui.components.tabs.TabNavigationBar tabs
public net.minecraft.client.gui.screens.worldselection.CreateWorldScreen tabNavigationBar
public-f net.minecraft.client.OptionInstance
public net.minecraft.client.OptionInstance$SliderableValueSet
# protected net.minecraft.client.gui.components.tabs.TabManager f_267400_ # currentTab
# protected net.minecraft.client.gui.components.MultiLineTextWidget f_268539_ # cache
# protected net.minecraft.client.gui.components.MultiLineTextWidget m_269393_()Lnet/minecraft/client/gui/components/MultiLineTextWidget$CacheKey; # getFreshCacheKey
# protected net.minecraft.client.gui.components.EditBox f_94092_ # font
# public net.minecraft.client.gui.components.AbstractWidget m_280138_(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/client/gui/Font;Lnet/minecraft/network/chat/Component;IIIII)V # renderScrollingString
# protected net.minecraft.client.gui.components.EditBox m_94219_()Z # isBordered
# public net.minecraft.world.level.biome.BiomeGenerationSettings <init>(Ljava/util/Map;Ljava/util/List;)V # BiomeGenerationSettings
# public net.minecraft.world.level.biome.BiomeSpecialEffects <init>(IIIILjava/util/Optional;Ljava/util/Optional;Lnet/minecraft/world/level/biome/BiomeSpecialEffects$GrassColorModifier;Ljava/util/Optional;Ljava/util/Optional;Ljava/util/Optional;Ljava/util/Optional;Ljava/util/Optional;)V # BiomeSpecialEffects
# public net.minecraft.world.level.biome.Biome <init>(Lnet/minecraft/world/level/biome/Biome$ClimateSettings;Lnet/minecraft/world/level/biome/BiomeSpecialEffects;Lnet/minecraft/world/level/biome/BiomeGenerationSettings;Lnet/minecraft/world/level/biome/MobSpawnSettings;)V # Biome
